.App {
  text-align: center;
}

form {
  margin: 20px 0;
}

form div {
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

input {
  margin-left: 10px;
  padding: 5px;
  width: 100px;
}

button {
  padding: 5px 10px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}